body {
  font-family: "Merriweather", "Georgia", serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav {
  margin: 8px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-bottom: 1px solid goldenrod;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin-right: 10px;
}
li a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 90%;
}

@media (min-width: 1024px) {
  .main {
    width: 60%;
  }
  body {
    font-size: large;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
